[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
mypy = "*"
sqlalchemy-stubs = "*"
types-pytz = "*"
types-dateparser = "*"

[packages]
aiogram = "*"
aiohttp = "*"
aiohttp-socks = "*"
alembic = "*"
dateparser = "*"
envparse = "*"
psycopg2 = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
