[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
flake8-quotes = "*"

[packages]
aiogram = "*"
aiohttp = "*"
aiohttp-socks = "*"
alembic = "*"
aveli-bot = {editable = true, path = "."}
dateparser = "*"
envparse = "*"
psycopg2 = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
